<p>
  directives-demo !
</p>

<div *ngIf='numbersList; then numberList else noNumbers'>
</div>
<ng-template #numberList>
  List is not empty !
</ng-template>

<ng-template #noNumbers>
  List is empty !
</ng-template>

<p> Ng For directive</p>
<span *ngIf='!numbersList'>
<button  (click)="loadCourses()">Load Course</button>
</span>

<button (click)="onAdd()">Add</button>
<span *ngIf='numbersList'>
<ul  *ngFor='let item of numbersList; index as i; trackBy: trackNumberList ' >
  <li>{{i}} = {{item.name}}
    <button (click)='onRemove(item)'>Remove</button>
  </li>
</ul>
</span>