<h1>Angular Demos</h1>
 <!-- <app-components-and-property-binding ></app-components-and-property-binding>
 <app-components-and-property-binding [name2]="hello"></app-components-and-property-binding>
 <app-components-and-property-binding name2="hello world"></app-components-and-property-binding>


 <app-componentapi-input-output [isSelected]='post.isSelected' (change)='onComponentApiClick($event)'></app-componentapi-input-output> -->
 <nav>
    <a routerLink="/directives" routerLinkActive="active">Directives Demo</a>
    <a routerLink="/routing" routerLinkActive="active">Routing and Navigation</a>
  </nav>
 <router-outlet></router-outlet>

 <!-- <app-directives-demo></app-directives-demo>
 -->
